sudo: required
services: 
    - docker

before_install:
    - docker build -t ranajoy27/react-test -f ./client/Dockerfile.dev  ./client

script:
    - docker run -e CI=true ranajoy27/react-test npm test 

after_sucess:
    - docker build -t ranajoy27/multi-client ./client
    - docker build -t ranajoy27/multi-nginx ./nginx
    - docker build -t ranajoy27/multi-server ./server
    - docker build -t ranajoy27/multi-worker ./worker
    #login to docker CLI
    - echo "$docker_password" | docker login -u "$docker_id" --password-stdin
    - docker push ranajoy27/multi-client
    - docker push ranajoy27/multi-nginx
    - docker push ranajoy27/multi-server
    - docker push ranajoy27/multi-worker

deploy:
    provider: elasticbeanstalk
    region: us-east-1
    app: multi-docker
    env: MultiDocker-env
    bucket_name: elasticbeanstalk-us-east-1-933366414376
    bucket_path: multi-docker
    on: 
        branch: master
        access_key_id: $AWS_ACCESS_KEY
        secret_access_key: $AWS_SECRET_KEY



